---
import Layout from '../layouts/Layout.astro';
import { Main } from '../components/Main.jsx';
---

<Layout title="First conexion to API">
	<main class="
	text-white
	font-bold
	text-3xl">
		<Main client:load/>
	</main>
	</Layout>

